# macOS system files
.DS_Store
**/.DS_Store

# Composer files
/vendor/*
!/vendor/composer/
!/vendor/autoload.php

# DOMPurify - just the minified file we use
!/vendor/DOMPurify/DOMPurify.min.js

# SVG Sanitizer - only the src directory
!/vendor/enshrined/svg-sanitize/src/

# Ignore everything else
composer.lock
/vendor.backup/
