# macOS system files
.DS_Store
**/.DS_Store

# First ignore all vendor
/vendor/*

# Then explicitly un-ignore specific files and directories
# Composer autoloader files
!/vendor/composer/
!/vendor/autoload.php

# DOMPurify minified file
!/vendor/DOMPurify/
/vendor/DOMPurify/*
!/vendor/DOMPurify/DOMPurify.min.js

# SVG Sanitizer src directory
!/vendor/enshrined/
/vendor/enshrined/*
!/vendor/enshrined/svg-sanitize/
/vendor/enshrined/svg-sanitize/*
!/vendor/enshrined/svg-sanitize/src/

# Other ignores
composer.lock